form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 15px;
}

label {
  margin-top: 15px;
  font-size: 20px;
}

input {
  margin-top: 20px;
  height: 20px;
  width: 200px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}

button {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  cursor: pointer;
}

button:disabled {
  background: grey;
  box-shadow: black;
}
